
<!-- a tag app-item-detail é definida na classe .ts campo selector-->
<app-item-detail [item]="currentItem" [num]="currentnum"></app-item-detail>
<hr />
<app-item-output></app-item-output>
<hr />
<app-item-dropdown></app-item-dropdown>
<app-product-list></app-product-list>
<footer class= "text-lg-start">
    <!-- Grid container -->

    <br>
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">FASHION FEVER</h5>
  
          <p>
            Fashion Fever é uma loja de moda fast fashion que busca oferecer às pessoas uma experiência única de estilo e tendências. 
            Com uma ampla variedade de roupas e acessórios. Aqui convidamos você a mergulhar no mundo da moda, experimentar novas tendências e descobrir seu estilo. Tornando a experiência de compra emocionante, acessível e memorável!
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Atendimento ao Cliente</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Contato</a>
            </li>
            <li>
              <a href="#!" class="text-white">Devolução & Troca</a>
            </li>
            <li>
              <a href="#!" class="text-white"></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Pagamento</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Formas de Pagamento</a>
            </li>
            <li>
              <a href="#!" class="text-white">Segurança</a>
            </li>
            <li>
             
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: all right reserved
      <a class="text-white" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
  </footer>